protobuf==6.31.1
ecdsa==0.19.0
pytest==8.4.1
cryptography>=44.0.1
grpcio==1.71.0
setuptools==80.9.0
mnemonic
web3
bip44
mara-pipelines
psycopg2-binary
bump2version
sphinx
sphinx_rtd_theme
pytest-cov
coverage